@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    
    background-color: #ccc;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.dino {
    overflow: hidden;
    background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

.img {
    margin: 0;
    padding: 0;
    position:relative; 
}

.imgcap {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    position: absolute;
    bottom: 15px;
}

.info {
    float: left;
    padding: 1rem;
    width: 33.3333%;
    border-right: 1px solid #ccc;
}

.info:last-child {
    border-right: 0;
}
    

/*figure {
    position: relative;
    float:
}

figcaption {
    position: absolute;
    font-family: serif;
}

div {
    float: left;
    text-align: center;
    padding-left: 1rem;
    
}

h1 {
    padding-top: 2rem;
    font-size: 15pt;
    padding-left: 1rem;
}

h2 { 
    font-family: sans-serif;
    color: gray;
    font-size: 12pt;
}

*/    


